{% extends 'projects/base.html' %}

{% load static %}

{% block content %}

<div class="container">



<div class="row">
{% for classproject in classprojects %}
    <div class="col-md-4">
    <div class="card mb-2">
    <div class="card-body">
        <h5 class="card-title">{{ classproject.title }}</h5>
        <p class="card-text">{{ classproject.instructors }}</p>
        <a href="{% url 'class_project_detail' classproject.pk %}"
        class="btn btn-primary">
        Syllabus
        </a>
</div>
</div>
</div>

{% endfor %}
</div>
</div>
{% endblock %}
