{%extends 'projects/base.html'%}
{%block content%}
<h2>Login</h2>
{% if user.is_authenticated %}
   Currently logged in as  {{ user.username}}
   <div class="container"></div>
   <a href="{%url 'logout'%}">Logout</a>
   </div>
   <div class="container"></div>
   <a href="{% url 'password_change' %}">Change password</a>
   </div>
   <div class="container"></div>
   <a href="{% url 'dashboard' %}">Back to dashboard</a>
   </div>
{%else%}
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login">
        </form>
        <div class="container">
        <a href="{% url 'dashboard' %}">Back to dashboard </a>
        </div>
        <div class="container">
        <a href="{%url 'password_reset'%}">Forgot password</a>
        </div>
        <div class="container">
            <a href="{%url 'password_change'%}">Change password</a>
            </div>
        <div class="container">
        <a href="{% url 'register'%}">Register</a>
        </div>
{%endif%}
{%endblock%}
